h1{
    color:turquoise;
}


body{
    height: 125vh;
    margin-top: 80px;
    padding: 30px;
}



header{
    background-color: rgb(255, 204, 234);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-direction: row;
}   

li{
    display:inline;
    text-align: center;

}

header li{
    margin: 30px;
    
        
}

header li a{
    color: black;
    text-decoration: none;
    
}



main {
    color: rgb(0, 0, 0);
    

}
#first{
    color:blueviolet;
    
}
#gecko {
    border: 1px solid red;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    }
    a {
    height: 0px;
    }